@import './base.css';
@import "tailwindcss";

/*  Tailwind v4 的自定義 variant 設定，讓 dark: 模式能偵測 .my-app-dark class */
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

#app {
  /* max-width: 1280px; */
  /* max-width: 1680px; */
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
}

 a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  transition: 0.4s;
  padding: 3px;
  cursor: pointer;
}
/*
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center; */
  }

  #app {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    /* padding: 2rem; */
  }
}
